include LICENSE
include README.md
include BUILD.md
include install/*
include install/scripts/*
include share/*
include share/images/*
include share/locale/*
include share/containers/*
include share/containers/website/*
include share/containers/website/tor/*
include tests/*.py
